html, body, div, ul, li {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: OpenSansLight;
    src: url(./fonts/OpenSans-Light.ttf)
}

@font-face {
    font-family: OpenSansSemibold;
    src: url(./fonts/OpenSans-Semibold.ttf)
}

@font-face {
    font-family: OpenSansBold;
    src: url(./fonts/OpenSans-Bold.ttf)
}

@font-face {
    font-family: OpenSansExtraBold;
    src: url(./fonts/OpenSans-ExtraBold.ttf)
}

body {
    font-family: 'OpenSans';
}

.navigation {
    font-family: 'OpenSansSemibold';
    font-size: 0.75em;
    padding: 14px 0 0 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    /*This is for after banner*/
    /*background: #000000;*/
    /*box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.3);*/
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 2.2em;
}

.navigation ul li.resume-link {
    padding: 2px 8px;
    margin-left: 28px;
    cursor: pointer;
    border: 2px solid #252525;
    /*This is for after banner*/
    /*border: 2px solid #DADADA;*/
}

/* This stops resume link from getting effects of hover */
.navigation ul li.resume-link a {
    border: none;
}
.navigation ul li.resume-link a:hover {
    border: none;
    color: #252525;
}

.navigation ul li a {
    /*This is for after banner*/
    /*color: #DADADA;
    border-bottom: 2px solid #000000;*/
    color: #252525;
    border: none;
    transition: ease-in 0.15s;
    letter-spacing: 1px;
}

.navigation ul li a.active {
    padding-bottom: 3px;
    /*border-bottom: 2px solid #DADADA;*/
    border-bottom: 2px solid #252525;
}

.navigation ul li a:hover {
    text-decoration: none;
    color: #4F4F4F;
    border-bottom: 2px solid #4F4F4F;
    padding-bottom: 3px;
}

.banner {
    background-image: url("../images/macbook.jpg");
    background-size: cover;
    background-position: bottom;
    padding-top: 220px;
}

.abstract {
    width: auto;
    height: auto;
}

.heading {
    display: inline;
}

.subtitle {
    padding-left: 6px;
}

.abstract h1 {
    color: #252525;
    font-family: 'OpenSansBold';
    font-size: 5em;
}

.fa-chevron-down {
    transition: ease-in 0.2s;
}

.fa-chevron-down:hover {
    transform: translateY(10px);
    cursor: pointer;
}
.typed-cursor {
    font-size: 5em;
    animation: blink 1.2s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.abstract h3 {
    color: #252525;
    font-family: 'OpenSans';
    font-size: 14px;
    letter-spacing: 1px;
}

.down {
    margin-top: 280px;
    font-size: 50px;
    color: #E4E4E4;
}

.about-section {
    width: 100%;
    background: #59819a;
    color: #ffffff;
}

.about-left {
    width: 100%;
    height: 100%;
}

.about-right {
    font-family: 'OpenSans';
    padding: 60px 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
}

.portrait-wrapper {
    margin: auto;
}

.portrait {
    margin: 60px auto 15px auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: url("../images/portrait.jpg");
    background-size: cover;
    box-shadow: 8px 6px rgba(0, 0, 0, 0.3);
}

.social-links {
    letter-spacing: 10px;
    font-size: 2em;
    margin-left: 12px;
}

.skills-section {
    padding: 60px 0 90px 0;
    font-family: 'OpenSans';
    font-size: 1em;
    color: #ffffff;
    width: 100%;
    background: #22303e;
}

.skills-wrapper {
    padding-left: 75px;
}

.skill-row {
    padding-top: 30px;
}

.skill-bar {
    width: 100%;
    height: 20px;
    background: #ffffff;
}

.skill-fill {
    background: #ff7b23;
    height: 100%;
}

.portfolio-wrapper {
    /*padding-left: 75px;*/
}

.portfolio-section {
    font-family: 'OpenSans';
    width: 100%;
    color: #000000;
    padding: 60px 0 90px 0;
}

.portfolio-row {
    padding-top: 50px;
}

.card {
    margin: 0 auto;
}

.card-img-top {
    height: 200px;
}

.card-block {
    padding: 20px;
}

.contact-section {
    font-family: 'OpenSans';
    color: #ffffff;
    background: #1A2145;
    padding: 60px 0 90px 0;
}

.form-control {
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.contact-btn {
    font-family: 'OpenSansSemibold';
    background: #EDEDED;
    color: #1E1E1E;
}

.footer {
    font-family: 'OpenSans';
    color: #A7A7A7;
    background: #292929;
    padding: 20px;
    font-size: 0.8em;
}

.footer .fa-github, .footer .fa-linkedin {
    color: #ffffff;
    font-size: 1.5em;
}

.footer .fa-copyright {
    font-size: 1em;
}

.footer-el {
    padding-right: 20px;
}
