html, body, div, ul, li {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: OpenSansLight;
    src: url(./fonts/OpenSans-Light.ttf)
}

@font-face {
    font-family: OpenSansSemibold;
    src: url(./fonts/OpenSans-Semibold.ttf)
}

@font-face {
    font-family: OpenSansBold;
    src: url(./fonts/OpenSans-Bold.ttf)
}

@font-face {
    font-family: OpenSansExtraBold;
    src: url(./fonts/OpenSans-ExtraBold.ttf)
}

body {
    font-family: 'OpenSans';
}

.navigation {
    font-family: 'OpenSansSemibold';
    font-size: 0.75em;
    padding: 14px 0 0 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 2.2em;
}

.navigation ul li.resume-link {
    padding: 2px 8px;
    margin-left: 28px;
    cursor: pointer;
    border: 2px solid #252525;
}

/* * * This stops resume link from getting effects of `a` hover * * */
.navigation ul li.resume-link a {
    border: none;
}
.navigation ul li.resume-link a:hover {
    border: none;
    color: #252525;
}
/* * * * * * * * */

.navigation ul li a {
    color: #252525;
    border: none;
    transition: ease-in 0.15s;
    letter-spacing: 1px;
}

.navigation ul li a.active {
    padding-bottom: 3px;
    border-bottom: 2px solid #252525;
}
.navigation ul li a.active:hover {
    border-bottom: 2px solid #252525;
}

.navigation ul li a:hover {
    text-decoration: none;
    border-bottom: 2px solid #4F4F4F;
    padding-bottom: 3px;
}

#cross {
    display: none;
}

.banner {
    background-image: url("../images/macbook.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
    padding: 200px 9% 0 9%;
}

.abstract {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    height: auto;
    width: 82%;
}


.heading {
    display: inline;
}

.abstract .heading {
    font-size: 5em;
}

.subtitle {
    padding-left: 6px;
}

.abstract h1 {
    color: #252525;
    font-family: 'OpenSansBold';
    font-size: 5em;
}

.down {
    font-size: 50px;
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
}

.down a {
    color: #E4E4E4;
}

.down a:hover {
    color: #E4E4E4;
}

.fa-chevron-down {
    transition: ease-in-out 0.2s;
}

.fa-chevron-down:hover {
    animation: chevron-hover 1.2s infinite;
    cursor: pointer;
}

@keyframes chevron-hover {
    0% { transform: translateY(0); }
    50% { transform: translateY(5px); }
    100% { transform: translateY(0); }
}

.typed-cursor {
    font-size: 5em;
    animation: blink 1.2s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.abstract h3 {
    color: #252525;
    font-family: 'OpenSans';
    font-size: 14px;
    letter-spacing: 1px;
}

.about-section {
    width: 100%;
    background: #59819a;
    color: #ffffff;
    padding-top: 70px;
}

.about-left {
    width: 100%;
    height: 100%;
}

.about-right {
    font-family: 'OpenSans';
    padding: 60px 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
}

.portrait-wrapper {
    margin: auto;
}

.portrait {
    margin: 60px auto 15px auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: url("../images/portrait.jpg");
    background-size: cover;
    box-shadow: 8px 6px rgba(0, 0, 0, 0.3);
}

.social-links {
    letter-spacing: 10px;
    font-size: 2em;
    margin-left: 12px;
}

.skills-section {
    padding: 55px 0 120px 0;
    font-family: 'OpenSans';
    font-size: 1em;
    color: #ffffff;
    width: 100%;
    background: #22303e;
}

/*.skills-wrapper {
    padding-left: 75px;
}*/

.skill-row {
    padding-top: 30px;
}

.skill-bar {
    width: 100%;
    height: 20px;
    background: #ffffff;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
}

.skill-fill {
    background: #ff7b23;
    height: 100%;
}

.portfolio-section {
    font-family: 'OpenSans';
    width: 100%;
    color: #000000;
    padding: 90px 0;
}

.portfolio-card-wrap {
    margin-top: 50px;
}

.card {
    margin: 0 auto;
}

.card-top-wrapper {
    position: relative;
}

.card-img-overlay {
    background: #000000;
    border-radius: 3px;
    opacity: 0;
    color: #ffffff;
    transition: ease-in-out 0.2s;
}

.card-img-overlay:hover {
    opacity: 0.8;
}

.card-block {
    padding: 20px;
}

.contact-section {
    font-family: 'OpenSans';
    color: #ffffff;
    background: #1A2145;
    padding: 70px 0 110px 0;
}

.form-control {
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.contact-btn {
    font-family: 'OpenSansSemibold';
    background: #737373;
    color: #D1D1D1;
}

.contact-section .btn-primary {
    cursor: pointer;
}

.footer {
    font-family: 'OpenSans';
    color: #A7A7A7;
    background: #292929;
    padding: 20px;
    font-size: 0.8em;
}

.footer .fa-github, .footer .fa-linkedin, .footer .fa-free-code-camp {
    color: #ffffff;
    font-size: 1.5em;
}

.footer .fa-copyright {
    font-size: 1em;
}

.footer-link {
    padding-right: 20px;
}

.fa-github, .fa-linkedin, .fa-free-code-camp {
    color: #ffffff;
}

.fa-github:hover, .fa-linkedin:hover, .fa-free-code-camp:hover {
    color: #D8D8D8;
    cursor: pointer;
}

.navigation .hamburger-wrap {
    display: none;
    font-size: 3em;
    float: right;
    padding-right: 30px;
    color: #252525;
    margin-top: -12px;
}

@media screen and (max-width: 768px) and (min-width: 540px) {
    .abstract .heading {
        font-size: 4em;
    }
}

@media screen and (max-width: 540px) {
    .abstract .heading {
        font-size: 3.22em;
    }
    /*.banner {
        padding-top: 150px;
    }*/
}

@media screen and (max-width: 815px) {

    .navigation .hamburger-wrap {
        display: inline-block;
        cursor: pointer;
    }

    .navigation ul {
        display: none;
        position: absolute;
        width: 100%;
        margin: 40px 0;
    }

    .navigation ul li {
        text-align: center;
        width: 100%;
        border: none;
        padding: 8px 0;
    }

    .navigation ul li a.active {
        padding: 0;
        border: none;
    }

    .navigation ul li.resume-link {
        padding: 0;
        margin: 0;
        border: none;
        padding: 8px 0 20px 0;
    }
}
